{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
    <title>New Post</title>

{% block content %}


    <div class="container ">
        <form action=" " method="POST">

            {% csrf_token %}
            <legend> Create New Post </legend>

            <fieldset class="form-group">
                {{ form | crispy }}
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Post </button>
            </div>

        </form>
    </div>

{% endblock %}