{% extends 'blog/base.html' %}


    {% block head %}
        <title> Blog - Users posts</title>
    {% endblock %}


{% block content %}

    <h2>Posted By {{ view.kwargs.username }}({{ page_obj.paginator.count }} posts)</h2>

    {% for post in posts %}
                <article class="media content-section">
                          <div class="media-body">
                               <img class="rounded-circle account-img" name="profile-pic" style="height: 150px;width: 150px" src="{{ post.author.profile.profile_pic.url }}" alt="profile_pic not available">
                            <div class="article-metadata">
                              <a class="mr-2" href="{% url 'users-all-posts' post.author.username %}">{{ post.author }}</a>
                              <small class="text-muted">{{ post.posted_time | date:"F d,Y" }}</small>
                            </div>
                            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                            <p class="article-content">{{ post.post_content }}</p>
                          </div>
                </article>


            {% endfor %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a  class="btn btn-outline-info  mb-4" href="?page={{ page_obj.previous_page_number }}"> Previous </a>
        {% endif %}

        {% if page_obj.has_next %}
            <a  class="btn btn-outline-info  mb-4" href="?page={{ page_obj.next_page_number }}"> Next </a>

        {% endif %}

    {% endif %}



{% endblock %}
