{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
    <title>Register</title>

{% block content %}


    <div class="container">
        <form action="" method="POST">

            {% csrf_token %}
            <legend> Login Here </legend>

            <fieldset class="form-group">
                {{ form | crispy }}
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div>
                <small>  Need an account? <a href="{% url 'user-register' %}"> Sign up now </a></small>
            </div>
        </form>
    </div>

{% endblock %}