{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
    <title>Register</title>

{% block content %}
<h2 class="modal-header" >Registration form </h2>

    <div class="container">
        <form action="" method="POST">

            {% csrf_token %}

            <fieldset class="form-group">
                {{ form | crispy }}
            </fieldset>

            <div class="form-group">
                <button>Submit</button>
            </div>
            <div>
                <small>  already have an account? <a href=""> Login</a></small>
            </div>
        </form>
    </div>

{% endblock %}